@font-face {
	font-family: 'Geometria';
	src: url('Geometria-BoldItalic.otf');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('Geometria-Italic.otf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('Geometria-Medium.otf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('Geometria-Bold.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('Geometria-LightItalic.otf');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('Geometria-Light.otf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('Geometria.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	font-weight: 500;
	src: url('Geometria-MediumItalic.otf');
	font-style: italic;
}
